*{
    margin: 0 ;
    border: 0 ; 
    box-sizing: border-box; 
}

.profileCard{
    margin: 2rem; 
    width: 350px ;
    height: 450px ; 

    border: 2px solid black ;
    border-radius: 2.5% ;
    overflow: hidden;
}

.profileCard img{
    width: 100% ;
}

.profileCard .info{
    margin: 20px;
}

.profileCard .info p{
    margin-top: 10px;
}

.techStack{
    display: flex;
    flex-wrap: wrap;
    gap: 5px ;
    margin-top : 10px ;
    width: 100% ;
}

.tech{
    background-color: lightgrey;
    border-radius: 3px;
    border: .5px solid grey ;
    /* margin: 0px 2px;  */
}