@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  /* margin: 0, auto;  */
  /* border: 0;  */
  font-family: "Montserrat";
  font-size: 16px;
  margin: 0 ; 
}

h1{
  text-align: center;
  font-size: 24px;
  margin-top: 20px; 
}

.container{
  margin-top: 100px; 
  /* background-color: yellow;  */
  width: 100vw;
  display: flex;
  gap: 50px; 
  flex-wrap: wrap;
  justify-content: space-evenly ;
}


.list{
  height: 100%; 
  background-color: rgb(230, 230, 230);
  width: 40%;
  padding: 20px 40px; 
  /* height: 100vh; */
}


ul{  
  list-style-type:lower-greek ;
}

ul li{
  margin-top: 10px; 
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}


/* FORM */
.form{
  width: 50% ; 
  display: flex; 
  gap: 10px; 
}

input[type=text]{
  width: 90%; 
  height: 40px; 
  padding: 12px;
  border: 0px; 
  border-bottom: 1.5px solid black ;
  background-color: rgb(230, 230, 230);
}

input[type=text]:focus{
  outline: none;
  background-color: rgba(235, 201, 228, 0.878);
}

button{
  height: 40px; 
  border: 1.5px solid black; 
  border: none;
  background-color: rgb(230, 230, 230);
  padding: 14px; 
  cursor: pointer;
}

button:hover{
  border-bottom: 1.5px solid black ;
  font-weight: 500;
}

.todo-state{
  display: flex; 
  gap: 12px;    
}
