.main{
    display: flex; 
    flex-direction: column;

    margin: 0 auto ;
    width: 40%; 

    align-items: center;
}

.step{
    display: flex;
    height: 40px ;
    width: 200px ; 
    align-items: center;
    justify-content: space-between;
}

.count{
    display: flex;
    height: 40px ;
    width: 200px ; 
    align-items: center;
    justify-content: space-between;
}

button{
    border: 1px solid black ; 
    border-radius: 4px ;
}